* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

h1,
.container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

#results {
  margin-top: 3%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
